.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  margin-right: 18px;
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link:hover {
  color:#ffff;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 425px) {
  .header__lang-link {
    max-height: 20px;
    max-width: 22px;
  }

}