.place__title {
  align-self: end;
  font-size: 72px;
  line-height: 76px;
  margin: 8px 0 0 0;
  font-weight: 900;
  color: #ffffff;
}
@media (min-width: 426px) and (max-width: 768px) {
  .place__title {
    margin:  0;
    font-size: 42px;
    max-width: 95%;
    line-height: 46px;
  }
}
@media (max-width: 425px) {
  .place__title {
    margin: 0 16px;
    line-height: 35px;
    font-size: 32px;
    
  }
}
