.lead {
  width: calc(100% - 2 * 148px);
  margin: 0 auto 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1140px) {
  .lead {
    width: calc(100% - 2 * 48px);
    
  }
}

@media screen and (max-width: 984px) {
  .lead {
    width: 100%;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    margin-bottom: 64px;
    
  }
}