.cover__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  max-width: 360px;
  text-align: center;
  z-index: 20;
}
@media (max-width: 425px) {
  .cover__subtitle {
    max-width: 320px;
    font-size: 14px;
    line-height: 18px;
  }
}
