.intro__text {
  margin: 0 0 36px 0;
  max-width: 690px;
  line-height: 26px;
  font-size: 16px;
  Color: #ffffff;
  font-weight: 400;
}
@media (min-width: 426px) and (max-width: 768px) {
  .intro__text {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .intro__text {
    max-width: 100%;
  }
}
