.place {
  margin: 0 0 80px 0;
  display: grid;
  grid-gap: 40px 40px;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  
}

@media (min-width: 769px) and (max-width: 1024px) {
  .place {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 48px 28px;
    margin-bottom: 73px;
  }
}
@media (max-width: 426px) {
  .place {
    grid-template-columns: minmax(320px, 320px);
    grid-gap: 32px 0;
    margin-bottom: 50px;
    }
}


